@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
section {
  max-width: 1180px;
  margin: 0 auto;
}
.baslik {
  display: flex;
  justify-content: center;
}
.baslik h1 {
  text-align: center;
  font-size: 30px;
}

  
h1 {
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  background-color: #ddccff;
  margin: 4rem 0 0 0;
  padding: 1rem;
  border-radius: 10px; 
  

}
.list {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4.8rem 0;
}

.list > .product {
  width: 200px;
  float: left;
  height: 300px;
  background: white;
  margin: 1.5%;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: relative;
  transition: 0.3s;
}
.product:hover {
  transform: scale(1.07);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 16px;
}
.product > div {
  text-align: center;
  position: absolute;
  transition: all 0.5s;
  bottom: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px 8px 12px 12px;
}

.product:hover > div {
  position: absolute;
  height: 300px;
  background: rgba(255, 255, 255, 0.5);
}
.product > img {
  background-color: #eee;
  margin: 0 auto;
  display: block;
  transition: all 0.5s;
  width: 100%;
  margin-top: 3rem;
  border-radius: 9px;
}

.product .item3 {
  margin-top: 2.4rem;
}
.product .se-item {
  margin-top: 2.8rem;
}
.product .fo-item {
  width: 100%;
  margin-top: 2.8rem;
}
.product:hover > img {
  border-radius: 9px;
  filter: blur(8px);
}
.product > div > h2 {
 
  padding: 0 0 1rem;
  font-weight: 500;
}
.product .price {
  font-size: 1.6rem;
  margin-bottom: 0;
  font-weight: 500;
  padding: 0;
  color: rgb(43, 39, 39);
}
.descr {
  font-size: 0.84rem;
  padding: 0.5rem;
  line-height: 1.2rem;
  font-weight: 400;
}

.product > div > a > p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.4rem;
  background: linear-gradient(to right, #b6a4e8, #a6e4ff);
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  transition: all 0.2s;
}

.product > div > a > p:hover {

  background: linear-gradient(to right, #FDB813, #FFA300);
  color: #fff;
}
.product > div > a > p {
  border-radius: 9px;
  position: absolute;

}

@media screen and (max-width: 390px) {
  h1 {
    font-size: 1.4rem;
  }

  .list > .product {
    margin: 4%;
    margin-bottom: 1rem;
  }
}
